body .vt-form-wrap {width: 100%;max-width: 1000px;}
.vt-row {width: 100%;display: flex;}
.vt-row .vt-col {width: calc(100% - 24px);display: block;background: #FFF;padding: 20px;box-shadow: 0 0 10px #CCC;margin: 0 10px;border-radius: 10px;}
.vt-row .vt-col:first-child {margin-left: 0;}
.vt-row .vt-col:last-child {margin-right: 0;}
.vt-row .vt-col-10 {width: calc(10% - 12px);}
.vt-row .vt-col-20 {width: calc(20% - 12px);}
.vt-row .vt-col-30 {width: calc(30% - 12px);}
.vt-row .vt-col-40 {width: calc(40% - 12px);}
.vt-row .vt-col-50 {width: calc(50% - 12px);}
.vt-row .vt-col-60 {width: calc(60% - 12px);}
.vt-row .vt-col-70 {width: calc(70% - 12px);}
.vt-row .vt-col-80 {width: calc(80% - 12px);}
.vt-row .vt-col-90 {width: calc(90% - 12px);}
.vt-row .vt-col-100 {width: calc(100% - 24px);}
.vt-row fieldset {border: 1px solid #ddd;padding: 10px;margin-bottom: 20px;width: calc( 100% - 20px);display: block;}
.vt-row fieldset legend {width: auto;background: #f5f5f5;border: 1px solid #ddd;padding: 5px 20px;}
.vt-fields-wrap {width: 100%;}
.vt-fields-wrap .input-field-wrap {width: 100%;margin: 20px 0;display: block;}
.vt-fields-wrap .input-field-wrap label {display: block;width: 100%;font-size: 14px;line-height: 1.42857143;color: #333;font-weight: 700;margin-bottom: 10px;}
.vt-fields-wrap .input-field-wrap input, .vt-fields-wrap .input-field-wrap select, .vt-fields-wrap .input-field-wrap textarea {display: block;width: calc( 100% - 10px);height: auto;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;outline: none;}
.vt-fields-wrap .input-field-wrap select { cursor: pointer;}
.vt-fields-wrap .input-field-wrap .description {font-size: 14px;margin: 5px 0;color: #737373;font-style: italic;}
.vt-fields-wrap .input-field-wrap label.checkbox-label {width: 50%;display: inline-block;}
.vt-fields-wrap .input-field-wrap .checkmark-container {width: calc(50% - 10px);display: inline-block;}
.vt-fields-wrap .input-field-wrap input[type="checkbox"] {width: auto;margin: 0;display: inline-block;}
.vt-fields-wrap .input-field-wrap .error {font-size: 12px;color: #a94442;margin-top: 10px;}
.card-form {width: 100%;}
.card-form .vt-card-field {width: 100%;display: block;margin-bottom: 10px;}
.card-form .vt-card-field div.card_field {height: 3em;border: 1px solid #CCC;padding: 10px;}
.card-form .vt-card-field label {width: 100%;display: block;margin-bottom: 5px;font-size: 16px;}
.card-form .vt-card-details {width: 100%;display: block;}
.card-form .vt-card-details .vt-card-field-50 {width: calc(50% - 3px);display: inline-block;}
.vt-form-notification p.notification {width: 100%;margin: 15px auto;padding: 10px 20px !important;background: #FFF;border: 1px solid #CCC;border-left: 5px solid #ccc;}
.vt-form-notification {width: 100%;display: block;margin: 10px 0;}
.vt-form-notification p.notification strong {display: block;width: 100%;}
.vt-form-notification p.notification strong {margin-right: 5px;}
.vt-form-notification p.notification.error {border-left-color: #d63638;}
.vt-form-notification p.notification.success {border-left-color: #00a32a;}
.vt-form-notification p.notification span {display:block !important; }
.vt-form-contents {width: 100%;}
.vt-form-contents .vt-row {width: 100%;display: block;position: relative;}
.vt-form-contents .vt-row .vt-col {display: inline-block;vertical-align: top;}
.vt-form-contents .vt-row .vt-col.vt-col-payments.fixed {position: fixed;top: 70px;bottom: auto;width: 22%;}
.vt-button {color: #ffffff!important;border-width: 0px!important;border-radius: 26px;letter-spacing: 1px;font-size: 13px;font-weight: 800!important;text-transform: uppercase!important;background-image: linear-gradient(243deg,#3D72E7 0%,#53a0fe 100%);padding-top: 15px!important;padding-right: 30px!important;padding-bottom: 15px!important;padding-left: 30px!important;text-decoration: none !important;display: inline-block;margin-bottom: 10px;cursor: pointer;}
.vt-button-normal {color: #3D72E7 !important;border-width: 1px !important;border-radius: 26px;letter-spacing: 1px;font-size: 13px;font-weight: 800!important;text-transform: uppercase!important;background: #FFF;padding-top: 15px!important;padding-right: 30px!important;padding-bottom: 15px!important;padding-left: 30px!important;text-decoration: none !important;display: inline-block;margin-bottom: 10px;cursor: pointer;border-color: #3D72E7 !important;}
.vt-button-normal:hover{border-color: #3D72E7;}
.input-field-wrap .sign {width: 100%;position: relative;display: flex;}
.input-field-wrap .sign .sign-symbol {padding: 9px 12px;font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px 0 0 4px;display: flex;border-right: 0;align-items: center;}
.input-field-wrap .sign input {border-radius: 0 4px 4px 0;width: 100%;}
.input-field-wrap .sign.after .sign-symbol {border-right: 1px solid #CCC;border-radius: 0 4px 4px 0;border-left: 0;}
.input-field-wrap .sign.after  input {border-radius: 4px 0 0 4px;}
.vt-fields-wrap .input-field-wrap input:read-only, .refund-form-wrap .refund-field input:read-only{background: #f5f5f5 !important;}
.input-field-wrap .sign.after {flex-direction: row-reverse;}
.refund-form-wrap {width: 50%;display: inline-block;padding: 0 20px;border: 1px solid #CCC;float: right;margin-bottom: 20px;text-align: left;}
.refund-form-wrap .refund-field {width: 100%;display: block;margin: 10px 0;}
.refund-form-wrap .refund-field label {width: 100%;display: block;}
.transaction-refund-wrap {width: 100%;display: block;float: left;text-align: right;}
.refund-form-wrap .refund-field input {width: 100%;}
.refund-form-wrap .refund-field.refund-actions {text-align: right;}
.refund-form-wrap .refund-field input {background: #fff;color: #666;padding: .75em;height: auto;border-width: 1px;border-style: solid;border-color: #eaeaea;border-radius: 2px;box-shadow: none;box-sizing: border-box;transition: all .2s linear;}
.vt-loader {border: 3px solid #FFFFFF;border-radius: 100%;border-top: 3px solid #1d2327;width: 12px;height: 12px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;position: relative;display: inline-block;vertical-align: middle;left: 5px;}
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
table.paypal-account-information {border-width: 0;text-align: left;}
table.paypal-account-information th, table.paypal-account-information td {border-width: 0;padding: 15px 10px !important;vertical-align: top;border-bottom: 1px solid rgba(0,0,0,.1);width: 50%;}
.vt-confirmation-icon {color: #d63638;margin: 0 !important;font-size: 25px;line-height: 25px;}
.vt-confirmation-icon .dashicons {font-size: inherit;}
.vt-confirmation-icon.is-confirmed {color: #00a32a;}
ul.oauth-third-party-scopes {margin: 0 0 0 30px;padding: 0;list-style: decimal-leading-zero;}
ul.oauth-third-party-scopes li {margin: 0 0 15px 0;list-style: inherit;}
.woocommerce select.woocommerce-Select {background-color: #eee;max-width: 100%;border-width: 0;border-radius: 0;color: #999;font-size: 14px;padding: 16px;line-height: 1.7em;border-style: solid;}
.paypal-disconnect-button {margin-top: 20px;}
h2.wc-account-title {width: 100%;display: block;margin: 20px 0;}
h2.wc-account-title.general-info {margin-top: 0;}
.paypal-connect-button-wrap {text-align: center;margin-top: 20px;}
p.signature-text{display: none;}
.transaction-history-title{font-size: 1.5rem;padding: 10px 0;}
.address-wrap{padding: 10px;border: 1px solid #ebebeb;min-height:280px;}
.show-me-only-in-print{display: none ;}
.transaction-table-header{text-align:left;width: 50%;padding: 10px;border-bottom: 1px solid #ebebeb;border-right: 1px solid #ebebeb;}
.transaction-column{width: calc(50% - 15px);}
.vt-product-wrapper {background: #0006;bottom: 0;display:none;position: fixed;top: 0;right: 0;left: 0;z-index: 999999}
.vt-product-inner {background: #FFFFFF;border-radius: 16px;max-width: 600px;margin: 0 auto;padding: 40px 20px 20px;position: fixed;top: 5%;left: 0;right: 0;width:calc( 100% - 20px );}
.vt-product-wrapper .vt-product-content {display: block;height: 60vh;overflow-y: scroll;}
.vt-product-content::-webkit-scrollbar {width: 3px;background-color: #FFF!important;}
.vt-product-content::-webkit-scrollbar-track {box-shadow: inset 0 0 6px #FFF!important;}
.vt-product-content::-webkit-scrollbar-thumb {background: #FFF!important;}
.vt-product-lists {margin: 1.5rem 0;}
.vt-product-wrapper .input-field-wrap {text-align: left;display: flex;}
.vt-product-wrapper .input-field-wrap input {padding: 10px;}
.vt-product-wrapper .input-field-wrap label {width: 25%;}
#vt_product_image {overflow: hidden;opacity: 0;position: absolute;top: 0;left: 0;}
.input-field-wrap label[for="vt_product_image"] {background: #4361ee;color: #FFF !important;padding: 10px 20px;border-radius: 20px;min-width: 150px;cursor: pointer !important;text-align: center;}
.input-field-wrap label[for="vt_product_image"]:hover {background: #4361eef2;}
.vt-product-wrapper .input-field-wrap {padding: 10px 0;}
.vt-product-wrapper .button-wrap {display: block}
.vt-product-wrapper span {color: #777777;font-size: 14px;}
.vt-product-wrapper .close {cursor: pointer;position: absolute;height: 26px;right: 10px;top: 10px;margin: 0 auto;width: 26px;}
.vt-product-wrapper .close a {display: block;color: #000;}
.input-field-wrap.vt-image-upload-wrap {flex-direction: column;}
.upload-image-preview {width: 100%;margin: 1rem 0;display: block;}
.upload-image-preview:empty {display: none;}
.upload-image-preview img {max-width: 100px;}
.product-actions a {display: inline-block;margin-right: 5px;color:#4361ee;cursor: pointer;}
.product-actions a.vt_delete_product {color: #f44336;}
.product-actions a svg {color: inherit;}
.vt-product-content .view-product {display: flex;border-bottom: 1px solid #CCC;padding: 1rem 0;}
.vt-product-content .view-product:last-child{border-bottom: 0;}
.vt-product-content .view-product .label {min-width: 120px;font-weight: bold;}
.vt-product-content .view-product .value {width: calc( 100% - 120px );}
.vt-product-content .view-product .value img {max-width: 100px;}
.my-account-products-listings-table tr th {width: 10%;}
.my-account-products-listings-table tr th.product-id {width: 7%;}
.my-account-products-listings-table tr th.product-title {width: 15%;}
.my-account-products-listings-table tr th.product-image {width: 15%;}
.my-account-products-listings-table tr th.product-content {width: 25%;}
.my-account-products-listings-table tr th.product-actions {width: 15%;}
table.my-account-products-listings-table {padding: 20px 0;}
.my-account-products-listings-table > thead > tr > th {color: #4361ee;font-weight: 700;font-size: 13px;letter-spacing: 1px;padding: 0.75rem;text-transform: uppercase;}
.my-account-products-listings-table td, .my-account-products-listings-table th {border: 1px solid #ebedf2;margin: 0;}
.my-account-products-listings-table > tbody > tr > td {vertical-align: middle;color: #515365;font-size: 13px;letter-spacing: 1px;padding: 0.75rem;}
.text-center {text-align: center !important;}
.my-account-products-listings-table tr td a {text-decoration: none;}
.vt-button-primary {color: #fff !important;background-color: #4361ee !important;box-shadow: 0 10px 20px -10px #4361ee;padding: 0.4375rem 1.25rem !important;text-shadow: none;white-space: normal;word-wrap: break-word;touch-action: manipulation;cursor: pointer;display: inline-block;font-weight: 400;text-align: center;vertical-align: middle;border: 1px solid transparent;font-size: 1rem;line-height: 1.5;border-radius: 0.25rem;margin-top: 0 !important;transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.vt-button-primary:hover {box-shadow: none;transform: translateY(-3px);}
.input-field-wrap .vt-input-field, .vt-fields-wrap .input-field-wrap .vt-input-field, .vt-fields-wrap .input-field-wrap .vt-select-field {border: 1px solid #bfc9d4;color: #3b3f5c;font-size: 15px;padding: 8px 10px;letter-spacing: 1px;height: calc(1.4em + 1.4rem + 2px);border-radius: 6px;width: 100%;}
.input-field-wrap .vt-textarea-field {height: auto;}
.vt-fields-wrap .input-field-wrap .vt-input-field {height: auto;width: calc(100% - 20px);}
.vt-fields-wrap .input-field-wrap .sign {width: auto;}
.vt-fields-wrap .input-field-wrap .sign .vt-input-field {border-radius: 0 6px 6px 0;}
.vt-fields-wrap .input-field-wrap .sign .vt-input-field {border-radius: 0 6px 6px 0;}
.vt-fields-wrap .input-field-wrap .sign.after .vt-input-field {border-radius: 6px 0 0 6px;}
.vt-product-wrapper .input-field-wrap label {color: #3b3f5c;font-size: 15px;width: auto;}
.vt-product-wrapper .input-field-wrap .p-2, .p-2 {padding: 2px;}
.button-wrap .vt-button-primary {margin-right: 0.8rem;}
@media print {
    body{line-height: 1.2 !important;}
    .transaction-column{width: calc(33% - 15px);}
    .transaction-table-header{text-align:left;width: 50%;padding: 2px !important;border-bottom: 1px solid #ebebeb;border-right: 1px solid #ebebeb;}
    .transaction-history-title{font-size: 1.2rem !important;padding: 0;}
    address{margin:0 !important;}
    .address-wrap{padding: 10px;border: 1px solid #ebebeb;min-height:180px;}
    p{margin:0 !important;}
    .hide-me-in-print{display: none!important;}
    .show-me-only-in-print{display: inline-block;}
    .show-me-only-in-print ul {display:inline;list-style-type: none;}
    p.signature-text{padding-top: 20px;display: inline;}
    header#masthead {display: none;}
    .storefront-breadcrumb {display: none;}
    footer#colophon {display: none;}
    div#secondary {display: none;}
    header.entry-header {display: none;}
    nav.woocommerce-MyAccount-navigation {display: none;}
    .edit-link {display: none;}
    .transaction-refund{display:none;}
    /*compatibility for Divi Theme*/
    #main-header{display:none;}
    #main-footer{display: none;}
    .entry-title{display: none;}
    .woocommerce-MyAccount-content{width:100% !important;}
    .transaction_history_receipt_info{list-style: none;}
}

@media only screen and (max-width: 600px) {

    .my-account-products-listings-table thead {display: none;}
    .my-account-products-listings-table tbody tr td {display: block;}
    .my-account-products-listings-table tbody tr td.text-center {text-align: left !important;}
    .my-account-products-listings-table tbody tr td:before {content: attr(data-title) ": ";font-weight: 600;padding-top: 1px;vertical-align: top;}
    .my-account-products-listings-table tbody tr:nth-child(even){background: #f6f7f7;}
}