body { background: #fafafa; }
body .vt-form-wrap {width: 100%;max-width: 1000px;}
.vt-row {width: 100%;display: flex;}
.vt-row .vt-col {width: calc(100% - 24px);display: block;background: #FFF;padding: 20px;border: 1px solid #e0e6ed;box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);margin: 0 10px;border-radius: 10px;}
.vt-row .vt-col:first-child {margin-left: 0;}
.vt-row .vt-col:last-child {margin-right: 0;}
.vt-row .vt-col-10 {width: calc(10% - 12px);}
.vt-row .vt-col-20 {width: calc(20% - 12px);}
.vt-row .vt-col-30 {width: calc(30% - 12px);}
.vt-row .vt-col-40 {width: calc(40% - 12px);}
.vt-row .vt-col-50 {width: calc(50% - 12px);}
.vt-row .vt-col-60 {width: calc(60% - 12px);}
.vt-row .vt-col-70 {width: calc(70% - 12px);}
.vt-row .vt-col-80 {width: calc(80% - 12px);}
.vt-row .vt-col-90 {width: calc(90% - 12px);}
.vt-row .vt-col-100 {width: calc(100% - 24px);}
.vt-row fieldset {border: 1px solid #ddd;padding: 20px;margin-bottom: 20px;width: 100%;display: block;background: #FFFFFF;box-shadow: 0 0 40px 0 rgb(94 92 154 / 6%);border-radius: 10px;}
.vt-row fieldset label {font-weight: bold;}
.vt-row fieldset legend {width: auto;background: #f5f5f5;border: 1px solid #ddd;padding: 5px 20px;}
.vt-fields-wrap {width: 100%;position: relative;}
.vt-fields-wrap .input-field-wrap {width: 100%;margin: 20px 0;display: block; position: relative}
.vt-fields-wrap .input-field-wrap .discount-type {width: 75px;position: absolute;top: -54px;right: 0;background-color: #eee;padding:5px 12px 6px;border-radius: 0 3px 3px 0;text-align: center;}
.vt-fields-wrap .input-field-wrap label {display: block;width: 100%;font-size: 14px;line-height: 1.42857143;color: #333;font-weight: 700;margin-bottom: 10px;}
.vt-fields-wrap .input-field-wrap input, .vt-fields-wrap .input-field-wrap select, .vt-fields-wrap .input-field-wrap textarea {display: block;width: 100%;height: auto;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;outline: none;}
.vt-fields-wrap .input-field-wrap select,.account-transactions-table .woocommerce-orders-table__header-date span#date-toggle:hover{cursor:pointer;}
.vt-fields-wrap .input-field-wrap .description {font-size: 14px;margin: 5px 0;color: #737373;font-style: italic;}
.vt-fields-wrap .input-field-wrap label.checkbox-label {width: 50%;display: inline-block;}
.vt-fields-wrap .input-field-wrap .checkmark-container {width: calc(50% - 10px);display: inline-block;}
.vt-fields-wrap .input-field-wrap input[type="checkbox"] {width: auto;margin: 0;display: inline-block;}
.vt-fields-wrap .input-field-wrap .error {font-size: 12px;color: #a94442;margin-top: 0;}
.card-form {width: 100%;}
.card-form .vt-card-field {width: 100%;display: block;margin-bottom: 10px;}
.card-form .vt-card-field div.card_field {height: 3em;border: 1px solid #CCC;padding: 10px;}
.card-form .vt-card-field label {width: 100%;display: block;margin-bottom: 5px;font-size: 16px;}
.card-form .vt-card-details {width: 100%;display: block;}
.card-form .vt-card-details .vt-card-field-50 {width: calc(50% - 3px);display: inline-block;}
.vt-form-notification p.notification {width: 100%;margin: 15px auto;padding: 10px 20px !important;background: #FFF;border: 1px solid #CCC;border-left: 5px solid #ccc;}
.vt-form-notification {width: 100%;display: block;margin: 10px 0;}
.woocommerce-MyAccount-content .vt-product-content .vt-form-notification{float:unset;}
.vt-form-notification p.notification strong {display: block;width: 100%;}
.vt-form-notification p.notification strong {margin-right: 5px;}
.vt-form-notification p.notification.error {border-left-color: #d63638;}
.vt-form-notification p.notification.warning{border-left-color: #ffcc00;}
.vt-form-notification p.notification.success {border-left-color: #00a32a;}
.vt-form-notification p.notification span {display:block !important; }
.vt-form-contents {width: 100%;}
.vt-form-contents .vt-row {width: 100%;position: relative;}
.invoice-content-main-wrap .vt-row {flex-direction: column;margin-bottom: 20px;}
.vt-form-contents .vt-row .vt-col {display: inline-block;vertical-align: top;margin-bottom: 20px}
.vt-form-contents .vt-row .vt-col-40 { position: relative;}
.invoice-content-main-wrap .vt-form-contents .vt-row .vt-col.vt-col-payments:first-child {margin-top: 0;}
.invoice-content-main-wrap .vt-payment-wrapper, .vt-form-contents .vt-row .vt-col-40 .vt-payment-wrapper {top: 0; transition: all 1s linear;}
.invoice-content-main-wrap .vt-payment-wrapper.fixed, .vt-form-contents .vt-row .vt-col-40 .vt-payment-wrapper.fixed { position: sticky;top: 18%;bottom: auto;width: 100%;margin: 0;}
.invoice-content-main-wrap .vt-form-contents .vt-col.vt-col-100.vt-col-payments.fixed {top: 26%;right: 15%;}
.vt-form-contents .vt-col.vt-col-100.vt-col-payments.pay-with-paypal.fixed {top: 6%;right: 15%;width: 18%;margin: 0;z-index: 99999;}
.vt-button {color: #ffffff!important;border-width: 0 !important;border-radius: 26px;letter-spacing: 1px;font-size: 13px;font-weight: 800!important;text-transform: uppercase!important;background-image: linear-gradient(243deg,#3D72E7 0%,#53a0fe 100%);padding-top: 15px!important;padding-right: 30px!important;padding-bottom: 15px!important;padding-left: 30px!important;text-decoration: none !important;display: inline-block;margin-bottom: 10px;cursor: pointer;}
.vt-form-contents .vt-row .vt-col.vt-col-payments.fixed {position: fixed;top: 70px;bottom: auto;width: 22%;}
.vt-button, .input-field-wrap label[for="vt_product_image"] {color: #ffffff!important;border-width: 0!important;border-radius: 26px;letter-spacing: 1px;font-size: 13px;font-weight: 800!important;text-transform: uppercase!important;background-image: linear-gradient(243deg,#3D72E7 0%,#53a0fe 100%);padding-top: 15px!important;padding-right: 30px!important;padding-bottom: 15px!important;padding-left: 30px!important;text-decoration: none !important;display: inline-block;margin: 10px 0;cursor: pointer;line-height: 1.5;}
.input-field-wrap label[for="vt_product_image"] {text-align: center;}
.vt-button-normal {color: #3D72E7 !important;border-width: 1px !important;border-radius: 26px;letter-spacing: 1px;font-size: 13px;font-weight: 800!important;text-transform: uppercase!important;background: #FFF;padding-top: 15px!important;padding-right: 30px!important;padding-bottom: 15px!important;padding-left: 30px!important;text-decoration: none !important;display: inline-block;margin-bottom: 10px;cursor: pointer;border-color: #3D72E7 !important;}
.vt-button-normal:hover{border-color: #3D72E7;}
.input-field-wrap .sign {width: 100%;position: relative;display: flex;flex-wrap: wrap;}
.input-field-wrap .sign .sign-symbol {padding: 9px 12px;font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border: 1px solid #ccc;border-radius: 4px 0 0 4px;display: flex;border-right: 0;align-items: center;justify-content: center;width: 60px;}
.input-field-wrap .sign input {border-radius: 0 4px 4px 0;width: calc(100% - 60px) !important;}
.input-field-wrap .sign.after .sign-symbol {border-right: 1px solid #CCC;border-radius: 0 4px 4px 0;border-left: 0;}
.input-field-wrap .sign.after  input {border-radius: 4px 0 0 4px;}
.vt-fields-wrap .input-field-wrap input:read-only, .refund-form-wrap .refund-field input:read-only{background: #f5f5f5 !important;}
.input-field-wrap .sign.after {flex-direction: row-reverse;justify-content: flex-end;}
.refund-form-wrap {width: 50%;display: inline-block;padding: 0 20px;border: 1px solid #CCC;float: right;margin-bottom: 20px;text-align: left;}
.refund-form-wrap .refund-field {width: 100%;display: block;margin: 10px 0;}
.refund-form-wrap .refund-field label {width: 100%;display: block;}
.transaction-refund-wrap {width: 100%;display: block;float: left;text-align: right;}
.transaction-refund-wrap #vt_refund_form {text-align: center;}
.refund-form-wrap .refund-field input {width: 100%;}
.refund-form-wrap .refund-field.refund-actions {text-align: right;}
.refund-form-wrap .refund-field input {background: #fff;color: #666;padding: .75em;height: auto;border-width: 1px;border-style: solid;border-color: #eaeaea;border-radius: 2px;box-shadow: none;box-sizing: border-box;transition: all .2s linear;}
.vt-loader {border: 3px solid #FFFFFF;border-radius: 100%;border-top: 3px solid #1d2327;width: 12px;height: 12px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;position: relative;display: inline-block;vertical-align: middle;left: 5px;}
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
table.paypal-account-information {border-width: 0;text-align: left;}
table.paypal-account-information th, table.paypal-account-information td {border-width: 0;padding: 15px 10px !important;vertical-align: top;border-bottom: 1px solid rgba(0,0,0,.1);width: 50%;}
.vt-confirmation-icon {color: #d63638;margin: 0 !important;font-size: 25px;line-height: 25px;}
.vt-confirmation-icon .dashicons {font-size: inherit;}
.vt-confirmation-icon.is-confirmed {color: #00a32a;}
ul.oauth-third-party-scopes {margin: 0 0 0 30px;padding: 0;list-style: decimal-leading-zero;}
ul.oauth-third-party-scopes li {margin: 0 0 15px 0;list-style: inherit;}
.woocommerce select.woocommerce-Select {background-color: #eee;max-width: 100%;border-width: 0;border-radius: 0;color: #999;font-size: 14px;padding: 16px;line-height: 1.7em;border-style: solid;}
.paypal-disconnect-button {margin-top: 20px;}
h2.wc-account-title {width: 100%;display: block;margin: 20px 0;}
h2.wc-account-title.general-info {margin-top: 0;}
a.delete_brand_logo {color: #f44336;}
div.brand-logo {padding-bottom: 20px;}
.paypal-connect-button-wrap {text-align: center;margin-top: 20px;}
p.signature-text{display: none;}
.transaction-history-title{font-size: 1.5rem;padding: 10px 0;}
.address-wrap{padding: 10px;border: 2px solid #ebebeb;min-height:50px !important;}
.show-me-only-in-print{display: none ;}
.transaction-table-header{text-align:left;width: 50%;padding: 10px;border-bottom: 1px solid #ebebeb;border-right: 1px solid #ebebeb;}
.transaction-column{width: calc(50% - 15px);}
.vt-product-wrapper {background: #0006;bottom: 0;display:none;position: fixed;top: 0;right: 0;left: 0;z-index: 999999}
.vt-product-inner {background: #FFFFFF;border-radius: 16px;max-width: 600px;margin: 0 auto;padding: 40px 20px 20px;position: fixed;top: 12%;left: 0;right: 0;width:calc( 100% - 20px );}
.vt-product-wrapper .vt-product-content {display: block;height: 60vh;overflow-y: scroll;}
.vt-product-content::-webkit-scrollbar,.vt-taxrule-content::-webkit-scrollbar {width: 3px;background-color: #FFF!important;}
.vt-product-content::-webkit-scrollbar-track,.vt-taxrule-content::-webkit-scrollbar-track {box-shadow: inset 0 0 6px #FFF!important;}
.vt-product-content::-webkit-scrollbar-thumb,.vt-taxrule-content::-webkit-scrollbar-thumb {background: #FFF!important;}
.vt-product-lists {margin: 1.5rem 0;}
.vt-product-wrapper .input-field-wrap {text-align: left;display: flex;}
.vt-product-wrapper .input-field-wrap input {padding: 10px;}
.vt-product-wrapper .input-field-wrap label {width: 25%;}
#vt_product_image {overflow: hidden;opacity: 0;position: absolute;top: 0;left: 0;}
.vt-product-wrapper .input-field-wrap {padding: 10px 0;}
.vt-product-wrapper .button-wrap {display: block}
.vt-product-wrapper span {color: #777777;font-size: 14px;}
.vt-product-wrapper .close {cursor: pointer;position: absolute;height: 26px;right: 10px;top: 10px;margin: 0 auto;width: 26px;}
.vt-product-wrapper .close a {display: block;color: #000;}
.input-field-wrap.vt-image-upload-wrap {display: flex;flex-direction: row;max-width: 100%;flex-wrap: wrap;align-items: center;gap: 30px;justify-content: space-between;position: relative;}
.input-field-wrap.vt-image-upload-wrap:has(img) {width: 100%;}
.input-field-wrap.vt-image-upload-wrap:has(img) label{max-height: 53px;}
.vt-upload-brand-logo-wrapper > .brand-logo-preview {position: relative;}
.vt-upload-brand-logo-wrapper > .brand-logo-preview > a.delete_brand_logo {position:absolute;top: 0;right: 0;height: 22px;width: 22px;border: 2px solid;border-radius: 50%;background:#fff;cursor: pointer;}
.vt-upload-brand-logo-wrapper > .brand-logo-preview > a.delete_brand_logo > svg{width:18px;height:18px;}
.upload-image-preview {margin: 1rem 0;display: block;}
.upload-image-preview:empty {display: none;}
.upload-image-preview img {width: 100%;height: 100%;object-fit: cover;}
.product-actions a {display: inline-block;margin-right: 5px;color:#4361ee;cursor: pointer;}
.product-actions a.vt_delete_product {color: #f44336;}
.product-actions a svg {color: inherit;}
.vt-product-content .view-product {display: flex;border-bottom: 1px solid #CCC;padding: 1rem 0;}
.vt-product-content .view-product:last-child{border-bottom: 0;}
.vt-product-content .view-product .label {min-width: 120px;font-weight: bold;}
.vt-product-content .view-product .value {width: calc( 100% - 120px );}
.vt-product-content .view-product .value img {max-width: 100px;}
.my-account-products-listings-table tr th {width: 10%;}
.my-account-products-listings-table tr th.product-id {width: 7%;}
.my-account-products-listings-table tr th.product-title {width: 15%;}
.my-account-products-listings-table tr th.product-image {width: 15%;}
.my-account-products-listings-table tr th.product-content {width: 25%;}
.my-account-products-listings-table tr th.product-actions {width: 15%;}
table.my-account-products-listings-table {padding: 20px 0;}
.my-account-products-listings-table > thead > tr > th {color: #4361ee;font-weight: 700;font-size: 13px;letter-spacing: 1px;padding: 0.75rem;text-transform: uppercase;}
.my-account-products-listings-table td, .my-account-products-listings-table th {border: 1px solid #ebedf2;margin: 0;}
.my-account-products-listings-table > tbody > tr > td {vertical-align: middle;color: #515365;font-size: 13px;letter-spacing: 1px;padding: 0.75rem;}
.text-center {text-align: center !important;}
.my-account-products-listings-table tr td a {text-decoration: none;}
.vt-button-primary {color: #fff !important;background-color: #4361ee !important;box-shadow: 0 10px 20px -10px #4361ee;padding: 0.4375rem 1.25rem !important;text-shadow: none;white-space: normal;word-wrap: break-word;touch-action: manipulation;cursor: pointer;display: inline-block;font-weight: 400;text-align: center;vertical-align: middle;border: 1px solid transparent;font-size: 1rem;line-height: 1.5;border-radius: 0.25rem;margin-top: 0 !important;transition: all .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;}
.vt-button-primary:hover {box-shadow: none;transform: translateY(-3px);}
.input-field-wrap .vt-input-field, .vt-fields-wrap .input-field-wrap .vt-input-field, .vt-fields-wrap .input-field-wrap .vt-select-field {border: 1px solid #bfc9d4;color: #3b3f5c;font-size: 15px;padding: 8px 10px;letter-spacing: 1px;height: calc(1.4em + 1.4rem + 2px);border-radius: 6px;width: 100%;}
.vt-fields-wrap .input-field-wrap .select2-container--default .select2-selection--single {border: 1px solid #bfc9d4;border-radius: 6px;font-size: 1rem;height: 40px;}
.vt-fields-wrap .input-field-wrap .select2-container--default .select2-selection--single .select2-selection__rendered {color: #3b3f5c;line-height: 40px;}
.vt-fields-wrap .input-field-wrap .select2-container--default .select2-selection--single .select2-selection__arrow {height: 40px;}
.input-field-wrap .vt-textarea-field {height: auto;}
.vt-fields-wrap .input-field-wrap .vt-input-field {height: auto;width:100%;}
.vt-fields-wrap .input-field-wrap .vt-input-field.error{margin-top:0; }
.vt-fields-wrap .input-field-wrap .sign {width: auto;}
.vt-fields-wrap .input-field-wrap .sign .vt-input-field {border-radius: 0 6px 6px 0;}
.vt-fields-wrap .input-field-wrap .sign .vt-input-field {border-radius: 0 6px 6px 0;}
.vt-fields-wrap .input-field-wrap .sign.after .vt-input-field {border-radius: 6px 0 0 6px;}
.vt-product-wrapper .input-field-wrap label {color: #3b3f5c;font-size: 15px;width: auto;}
.vt-product-wrapper .input-field-wrap .p-2, .p-2 {padding: 2px;}
.button-wrap .vt-button-primary {margin-right: 0.8rem;}
#vt_add_product_form .button-wrap .vt-button {margin-right: 0.5rem;}
body header .et_builder_inner_content {z-index:1;}
.vt-product-content .input-field-wrap {flex-direction: column;}
.vt-product-content .input-field-wrap .error, .vt-product-content .input-field-wrap .error {font-size: 12px;color: #a94442;margin-top: 0;}
a.vt-add-item {color: #3b3f5c;cursor: pointer;font-size: 1rem;text-decoration: none;}
.vt-repeater-field .vt-fields-wrap {display: flex;margin: 0;}
.vt-repeater-field .input-field-wrap {margin: 0 6px;}
.vt-repeater-field .input-field-wrap:nth-child(1) {width: calc(60% - 18px);}
.vt-repeater-field .input-field-wrap:nth-child(2) {width: calc(20% - 12px);}
.vt-repeater-field .input-field-wrap:nth-child(3) {margin: 0 6px;width: calc(20% - 22px);}
.vt-repeater-field .input-field-wrap .select2-container {width: 100% !important;}
.vt-repeater-field svg {cursor: pointer;padding-top: 10px;}
.transaction-filter-form .submit{margin-top: 0 !important;}
.transaction-filter-form .transaction-filter-wrap {display: flex;align-items:center;flex-direction:row;max-width:100%;border: 1px solid #f2f2f2;margin-bottom: 5px;border-radius: 5px;background: #f2f2f2;}
.transaction-filter-form .transaction-filter-wrap .input-field-wrap .transaction-input-field {border: 1px solid #bfc9d4;color: #3b3f5c;font-size: 12px;padding: 6px 8px;letter-spacing: 1px;height: calc(1.4em + 1.4rem + 2px);border-radius: 6px;width: 100%;}
.transaction-filter-form .transaction-filter-wrap .date-field-wrap {display: flex;align-items: center;justify-content: space-between;}
.transaction-filter-form .transaction-filter-wrap .date-field-wrap .date-range-label {margin-right: 5px;}
.transaction-filter-form .transaction-filter-wrap .date-field-wrap .start-date {margin-right: 5px;}
.transaction-filter-form .transaction-filter-wrap .date-field-wrap .vt-date-field {width: 140px;}
.transaction-select {padding: 10px;font-size: 15px;border-radius: 5px;color: #bfc9d4;}
.vt-transaction-history.woocommerce-page .transaction-overview ul li strong{padding-left: 0px !important;}
.transaction-overview .transaction-basic-info .w-25{width: calc(25% - 5px) !important;}
.woocommerce-message.vt-transactions-info {float: left;width: 100%;}
.tool {cursor: pointer;position: relative;background: #3e474f;padding: 0 6px;border-radius: 100%;margin-left: 5px;color: #FFF;font-size: 12px;line-height: 1.5;}
.tool::before, .tool::after {left: 50%;opacity: 0;position: absolute;z-index: -100;}
.tool:hover::before, .tool:focus::before, .tool:hover::after, .tool:focus::after {opacity: 1;transform: scale(1) translateY(0);z-index: 100;}
.tool::before {border-left: 1em solid transparent;border-right: 1em solid transparent;border-bottom: 1em solid #3e474f;top: 100%;content: "";margin-left: -0.5em;transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s;transform:  scale(.6) translateY(-90%);left: 5px;}
.tool:hover::before, .tool:focus::before {transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;}
.tool::after {background: #3E474F;border-radius: .25em;top: 150%;color: #EDEFF0;content: attr(data-tip);margin-left: -8.75em;padding: 1em;transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s;transform:  scale(.6) translateY(50%);width: 17.5em;}
.tool:hover::after, .tool:focus::after  {transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);}
.vt-col-pay-by-invoice fieldset, .vt-col-pay-with-zettle fieldset {padding: 0;border: 0;box-shadow: unset;margin: 0;}
.woocommerce-MyAccount-content .vt-form-notification {float: left;margin: 0;}
.vt-capture-popup-wrapper, .vt-void-popup-wrapper,.vt-refund-popup-wrapper,.vt-payment-timeout-popup-wrapper {background: #0006;bottom: 0;display: none;position: fixed;top: 0;right: 0;left: 0;z-index: 999999}
.vt-capture-popup-inner, .vt-void-popup-inner, .vt-refund-popup-inner,.vt-payment-timeout-popup-inner {background: #FFFFFF;border-radius: 16px;max-width: 350px;margin: 0 auto;padding: 40px 20px 20px;position: fixed;top: 12%;left: 0;right: 0;width: calc( 100% - 20px );}
.vt-payment-timeout-popup-wrapper .vt-payment-timeout-popup-inner {max-width: 40%;border-radius: 10px;padding: 40px;}
.vt-payment-timeout-popup-wrapper .vt-payment-timeout-popup-inner .close-btn {position: absolute;right: 15px;top: 15px;color: #4078eb;}
.vt-payment-timeout-popup-wrapper .vt-payment-timeout-popup-inner .input-field-wrap.button-wrap{margin-top: 20px;}
.vt-payment-timeout-popup-wrapper .vt-payment-timeout-popup-inner .input-field-wrap h3 {text-align: center;margin-bottom: 20px;}
.vt-button.vt-button-link {background: transparent;color: #4483f0 !important;border: 1px solid #4483f0 !important;line-height: normal;margin-left: 15px;}
.vt-capture-popup-wrapper .vt-capture-popup-content, .vt-void-popup-wrapper .vt-void-popup-content,.vt-refund-popup-wrapper .vt-refund-popup-content{display: block;height: 10vh;overflow-y: scroll;}
.vt-capture-popup-content::-webkit-scrollbar,.vt-refund-popup-content::-webkit-scrollbar {width: 3px;background-color: #FFF!important;}
.vt-capture-popup-content::-webkit-scrollbar-track,.vt-refund-popup-content::-webkit-scrollbar-track {box-shadow: inset 0 0 6px #FFF!important;}
.vt-capture-popup-wrapper .input-field-wrap, .vt-void-popup-wrapper .input-field-wrap, .vt-refund-popup-wrapper .input-field-wrap {padding: 10px 0;}
.vt-capture-popup-wrapper .input-field-wrap.button-wrap, .vt-void-popup-wrapper .input-field-wrap.button-wrap {text-align: center;}
.vt-capture-popup-wrapper .close, .vt-void-popup-wrapper .close,.vt-refund-popup-wrapper .close {cursor: pointer;position: absolute;height: 26px;right: 10px;top: 10px;margin: 0 auto;width: 26px;}
.vt-capture-popup-wrapper .close a, .vt-void-popup-wrapper .close a,.vt-refund-popup-wrapper .close a {display: block;color: #000;}
.vt-capture-popup-wrapper .button-wrap .vt-button, .vt-void-popup-wrapper .button-wrap .vt-button, .vt-refund-popup-wrapper .button-wrap .vt-button {margin-right: 0.5rem;}
.poupup-loader span.vt-loader {top: 50%;left: 50%;position: absolute; width: 20px;height: 20px;}
.poupup-loader {width: 100%;height: 100%;position: absolute;left: 0;top:0;border-radius: 15px 15px;background: #00000042;z-index:1}
.vt-search-result {background: transparent;border-radius: 6px;display: flex;flex-direction: column;padding: 0;max-height: 20vh;overflow-y: scroll;border: 1px solid #CCC; }
.vt-search-result span {background: #eee;cursor: pointer;border-bottom: 0;padding: 10px;}
.vt-search-result .product-item:nth-child(odd),.vt-search-result span:nth-child(odd) {background: #E1DEDE;}
.vt-form-contents .vt-col-form-fields {padding: 0;box-shadow: unset;border: 0;}
.vt-form-contents .vt-remove-fields-wrap {width: 24px;}
.vt-form-contents .input-field-wrap input[type=number]::-webkit-inner-spin-button,
.vt-form-contents .input-field-wrap input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.vt-verification-message {text-align: left;}
.vt-resend-email-form {background: #0006;bottom: 0;display:none;position: fixed;top: 0;right: 0;left: 0;z-index: 999;}
.vt-resend-email-form-wrapper {background: white;border-radius: 16px;max-width: 600px;margin: 0 auto;padding: 40px 20px 20px;position: fixed;top: 30%;left: 0;right: 0;}
.vt-resend-email-form-wrapper .input-field-wrap {text-align: left;display: block;margin-bottom: 10px;}
.vt-resend-email-form-wrapper .input-field-wrap label {width: 100%;display: block;margin-bottom: 10px;font-weight: 600;}
.vt-resend-email-form-wrapper .input-field-wrap input {border: 1px solid #bfc9d4;color: #3b3f5c;font-size: 15px;padding: 8px 10px;letter-spacing: 1px;border-radius: 6px;width: 100%;}
.vt-resend-email-form-wrapper .input-field-wrap .description {width: 100%;display: block;margin-top: 5px;font-weight: 400;font-style: italic;}
.vt-resend-email-form-wrapper .button-wrap {display: block}
.vt-resend-email-form-wrapper .button-wrap button {margin-right: 0.5rem;}
.vt-resend-email-form-wrapper span {color: #777777;font-size: 14px;}
.vt-resend-email-form-wrapper .close {position: absolute;width: 20px;height: 20px;right: 10px;top: 10px;cursor: pointer;}
.vt-resend-email-form-wrapper .close svg {width: 100%;height: 100%;}
#send_email_btn {display: flex;margin: 0;max-width: 100px;padding: 10px !important;width: 100%;justify-content: center;align-items: center;}
.vt-payment-wrapper .paypal-buttons-context-iframe.disabled {pointer-events: none;}
.vt-payment-timeout-popup-wrapper .button-wrap {text-align: center;}
.vt-row .vt-payment-wrapper .vt-col {margin-left: 10px;}
.vt-repeater-field {display: flex;flex-wrap: wrap;gap: 15px;margin: 10px 0;}
.vt-repeater-field .vt-fields-wrap {background: #f5f5f5;display: flex;position: relative;flex-wrap: wrap;padding: 15px;gap: 10px;border-radius: 5px;justify-content: space-between;}
.vt-repeater-field .vt-fields-wrap .input-field-wrap {margin: 0;width: calc(50% - 5px);}
.vt-repeater-field .vt-fields-wrap .input-field-wrap .vt-input-field {width: 100%;}
.vt-repeater-field .vt-fields-wrap .input-field-wrap.product {width: 100%;}
.vt-repeater-field .vt-fields-wrap .vt-remove-fields-wrap {position: absolute;right: -10px;top: -10px;line-height: 0;background: #FFF;border-radius: 100%;cursor: pointer;}
.vt-repeater-field ::-webkit-scrollbar,.vt-search-result::-webkit-scrollbar {width: 2px;}
.vt-repeater-field ::-webkit-scrollbar-thumb,.vt-search-result::-webkit-scrollbar-thumb,.vt-search-result::-webkit-scrollbar-thumb:hover {background-color: #3f77ea;}
.vt-repeater-field ::-webkit-scrollbar-thumb:hover {background-color: #3f77ea;}
.vt-pagination {width: 100%;display: block;}
.vt-pagination ul {list-style: none;padding: 0;display: flex;align-items: center;justify-content: center;}
.vt-pagination ul li a, .vt-pagination ul li span {padding: 1rem;display: block;font-size: 1rem;line-height: 1;color: #4078eb;}
.vt-pagination ul li .current {background: #3e78ea;color: #FFF;border-radius: 0.2rem;}
.vt-upload-brand-logo-wrapper {display: flex;flex-direction: row;flex-wrap: wrap;max-width: 100%;align-items: center;gap: 15px;justify-content: space-between;padding: 15px 3px;margin: 0 0 6px;}
.vt-image-upload-button-wrap,#ae-paypal-pos-form > .vt-form-contents .branding >.logo{display: grid;width: 100%;}
.vt-upload-brand-logo-wrapper:has(.vt-image-upload-button-wrap .upload-image-preview:empty) .vt-image-upload-button-wrap{width: auto;}
.vt-taxrule-wrapper {background: #0006;bottom: 0;display: none;position: fixed;top: 0;right: 0;left: 0;z-index: 999999}
.vt-taxrule-inner {background: #fff;border-radius: 16px;max-width: 600px;margin: 0 auto;padding: 40px 20px 20px;position: fixed;top: 12%;left: 0;right: 0;width: calc(100% - 20px);z-index: 9999999;}
.vt-taxrule-wrapper .close {cursor: pointer;position: absolute;height: 26px;right: 10px;top: 10px;margin: 0 auto;width: 26px;}
.vt-taxrule-wrapper .close a {display: block;color: #000;}
.vt-taxrule-wrapper .vt-taxrule-content{display:block;height:40vh;overflow-y:scroll;}
.vt-taxrule-content .input-field-wrap {display: flex;flex-direction: column;padding: 10px 0;text-align: left;}
.vt-taxrule-content form#vt_add_taxrule_form{clear:both;}
.vt-taxrule-wrapper .input-field-wrap input {padding: 10px;}
.vt-taxrule-wrapper .button-wrap {display: block;}
.input-field-wrap.tax_rate_wrapper .vt-search-result{width:100%;}
#vt_add_taxrule_form .button-wrap .vt-button {margin-right: 8px;}
.tax-actions a.vt_delete_taxrule {color: #f44336;}
.input-field-wrap.d-none{display: none;}
form#default_tax_form,.vt-tax-filter-wrapper > .vt-taxrule{padding: 13px 0;}
form#default_tax_form select#default_tax {padding: 13px 30px 13px 15px;cursor: pointer;-webkit-appearance: none;-moz-appearance: none;background: transparent;z-index: 99;display: block;position: relative;}
.vt-tax-filter-wrapper #default_tax_form .default-tax-label,.vt-tax-filter-wrapper #default_tax_form{margin-right:15px;}
.vt-taxrule-content .input-field-wrap.inline-checkbox{flex-direction:row;}
.vt-taxrule-content .input-field-wrap.inline-checkbox .checkmark-container{display:flex;}
.vt-taxrule-content .input-field-wrap.inline-checkbox .checkmark-container input{width:20px;}
.vt-taxrule-content .input-field-wrap.inline-checkbox .checkbox-label{order:2;}
.vt-tax-filter-wrapper{clear:both;display:flex;flex-direction:row;max-width:100%;flex-flow:wrap;justify-content:space-between;}
.vt-tax-filter-wrapper #default_tax_form{display: flex;align-content:center;}
.vt-tax-filter-wrapper .vt-button{margin:0;}
.default-tax-label {position:relative;background: #eee;cursor: pointer;}
.default-tax-label:after{position:absolute;font-family: dashicons;display: inline-block;line-height: 1;font-weight: 400;font-style: normal;font-size: 18px;content:'\f347';top: calc(50% - 9px);right: 5px;cursor: pointer;}
.timezone-info {display: block;}
.timezone-info .timezone-time {display: block;}
.timezone-info .timezone-time code {font-weight: bold;border-bottom: 1px solid #CCC;}
.vt-fields-wrap .input-field-wrap.profile-verify-tc label.checkbox-label, .vt-fields-wrap .input-field-wrap.profile-verify-tc .checkmark-container {width: 100%;position: relative;}
.vt-fields-wrap .input-field-wrap.profile-verify-tc .checkmark-container{padding-left: 30px;}
.vt-fields-wrap .input-field-wrap.profile-verify-tc input[type="checkbox"] {margin-right: 10px;position: absolute;left: 0;top: 5px;height: 20px;width: 20px;}
.zettle-settings .input-field-wrap {padding: 10px 0;}
.zettle-wrap .vt-button{line-height: 1.5;}
.vt-zettle-reader-content .input-field-wrap {margin-bottom: 1rem;}

.input-field-wrap.vt-check-wrap {position: relative;display: flex;flex-direction: row;justify-content: flex-start;gap: 10px;align-items: center;}
.input-field-wrap.vt-check-wrap .checkmark-container {display: inline-flex;order: 1;}
.input-field-wrap.vt-check-wrap .checkmark-container input {height: 20px;width: 20px;cursor: pointer;margin: 0;}
.input-field-wrap.vt-check-wrap label.checkbox-label {display: inline-flex;order: 2;}
.vt-col-pay-with-zettle .zettle-response, .zettle-refund-response {display: none;margin: 10px 0;text-align: left;}
.vt-col-pay-with-zettle .zettle-response ul, .zettle-refund-response ul {padding: 0 !important;list-style: none !important;max-height: 300px;overflow-y: scroll;}
.vt-col-pay-with-zettle .zettle-response ul li, .zettle-refund-response ul li {padding-left: 15px;line-height: 1;position: relative;margin-bottom: 15px;}
.vt-col-pay-with-zettle .zettle-response ul li:last-child, .zettle-refund-response ul li:last-child{margin-bottom: 0;}
.vt-col-pay-with-zettle .zettle-response ul li:before, .zettle-refund-response ul li:before{content: "";width: 10px;height: 10px;background: #CCC;position: absolute;left: 0;border-radius: 100%;top: 2px;}
.vt-col-pay-with-zettle .zettle-response ul li.active, .zettle-refund-response ul li.active{font-weight: bold;}
.vt-col-pay-with-zettle .zettle-response ul li.active:before, .zettle-refund-response ul li.active:before{background: #3f76ea;}
.vt-form-contents p.description {color: red;font-size: 12px;margin-top: 5px;}
.vt-form-contents .warning-description { position: relative;padding: 0.5rem 1.5rem 0.5rem 0.5rem;margin-top: 0.3125rem;background-color: #ffffff;border: 0.0625rem solid #bfc9d4;border-left: 0.25rem solid #dba617 ;box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.04);}
.vt-form-contents .warning-description .notice-cancel-btn { position: absolute;padding:0;top: 10px;right: 5px;border: none;margin: 0;background: 0 0;color: #787c82; }
a.notice-cancel-btn .vt-loader {position: absolute;top: -1px;left: -1px;border-color: #4078ea;border-top-color: #FFF;width: 20px;height: 20px;}
button[disabled] {opacity: 0.5;}
.vt-product-content .input-field-wrap.taxable-field {flex-direction: row;gap: 10px;align-items: center;}
.taxable-field .checkmark-container {line-height: 0;}
.vt-product-content .input-field-wrap.taxable-field input {width: 20px;height: 20px;cursor: pointer;}
.woocommerce-account  .woocommerce .woocommerce-MyAccount-navigation {width: 20%;}
.woocommerce-account  .woocommerce .woocommerce-MyAccount-content {width: 80%;}
.woocommerce-account  .woocommerce .woocommerce-MyAccount-content .transaction-actions .vt-button{margin: 0 0 5px 0;}
.review-changes {cursor: pointer; text-decoration: underline; background: transparent; border: none; color: #2EA3F2; font-weight: bold;}
#save_customer_details{cursor: pointer;}
.reviewChangesList { max-height: 0; opacity: 0; overflow: hidden; transition: all 0.4s ease, opacity 0.4s ease; border: 1px solid #ddd; border-radius: 5px; background-color: #f9f9f9; padding: 0;}
.reviewChangesList.show { max-height: 300px; opacity: 1;}
.reviewChangesList .review-changes-list:first-child {margin-top: 5px}
.reviewChangesList .review-changes-list:last-child {margin-bottom: 5px}
.review-changes-list { list-style-type: circle; padding-left: 6px;}
.review-changes-list::before { font-size: 18px; display: inline-block; width: 1rem; content: "\2022";}
.clear-customer-details { position: absolute; top: 48px; right: 10px; transform: translateY(-50%);font-size: 12px; cursor: pointer; color: white; background-color: #3e474f; border: 1px solid; border-radius: 100%; z-index: 100;}
.clear-customer-details::before { border-left: 1em solid transparent; border-right: 1em solid transparent; border-bottom: 1em solid #3e474f; top: 100%; content: ""; margin-left: -0.5em; transition: all .65s cubic-bezier(.84,-0.18,.31,1.26), opacity .65s .5s; transform: scale(.6) translateY(-90%); left: 5px;}
.clear-customer-details::before, .clear-customer-details::after { opacity: 0; position: absolute; z-index: -100;}
.clear-customer-details:hover::after, .clear-customer-details:focus::after { transition: all .65s cubic-bezier(.84,-0.18,.31,1.26);}
.clear-customer-details:hover::before, .clear-customer-details:focus::before, .clear-customer-details:hover::after, .clear-customer-details:focus::after { opacity: 1; transform: scale(1) translateY(0); z-index: 100;}
.clear-customer-details::after { background: #3E474F; border-radius: .25em; top: 150%; color: #EDEFF0; content: attr(data-tip); margin-left: -9.75em; padding: 1em; transition: all .65s cubic-bezier(.84,-0.18,.31,1.26) .2s; transform: scale(.6) translateY(50%); width: 17.5em;}

@media print {
    @page {
        margin: 0;
    }
    body{line-height: 1.2 !important;margin: 0 !important;padding: 0!important;}
    .clearfix{display: none!important; height: 0 !important;}
    .transaction-column{width: calc(33% - 15px);}
    .form-heading-detail{display: block;width: 100%;margin-bottom: 10px;}
    .receipt-header-ul {display: block;width: 100%;}
    .receipt-header-ul li {display: inline-block;width: 25%;float: left;}
    .receipt-header-ul li strong {width: 100%;display: block;}
    .transaction-table-product-td{padding: 5px !important; font-size: 10px !important;}
    .transaction-table-header{text-align:left;width: 50%;padding: 5px !important;border-bottom: 1px solid #ebebeb;border-right: 1px solid #ebebeb;font-size: 10px!important;}
    .transaction-history-title{font-size: 14px !important;padding:2px 0 !important;}
    .transaction-details__title{font-size: 14px !important;padding:2px 0 !important;}
    table.shop_table.refund_details th, table.shop_table.refund_details td{font-size: 10px !important;padding: 5px !important;}
    address{margin:5px 0 !important;}
    .address-wrap{padding: 10px;border: 1px solid #ebebeb;min-height:50px !important; line-height: 16px !important;}
    .address-wrap p {font-size: 10px !important;}
    p{margin:0 !important; padding: 0 !important;}
    .hide-me-in-print{display: none!important; height: 0 !important;}
    .show-me-only-in-print{display: inline-block ;}
    .show-me-only-in-print ul {display:inline ;list-style-type: none;}
    p.signature-text{padding-top: 20px;display: inline;}
    header#masthead {display: none;}
    .storefront-breadcrumb {display: none;}
    footer#colophon {display: none;}
    div#secondary {display: none;}
    header.entry-header {display: none;}
    nav.woocommerce-MyAccount-navigation {display: none !important;}
    .edit-link {display: none;}
    .transaction-refund{display:none;}
    .Print-Receipt-logo{width: 100% !important; display: block !important;}
    .Print-Receipt-phone-number{width: 100% !important; display: block !important;  margin-bottom: 10px !important;}
    .transaction-history-field{margin: 0 !important; padding: 0 !important;}
    .order_details{margin: 0 !important; padding: 0 !important;}
    table.shop_table{margin: 10px 0 !important;}
    .print-header{width: 100%;}
    .print-header-td{padding: 0 40px !important;}
    /*compatibility for Divi Theme*/
    #main-header{display:none;}
    #main-footer{display: none;}
    .entry-title{display: none;}
    .woocommerce-MyAccount-content{width:100% !important;}
    .transaction_history_receipt_info{list-style: none;}
}

@media only screen and (max-width: 822px) {
    .vt-row {flex-direction: column;padding: 0 20px;}
    .invoice-content-main-wrap .d-flex {flex-direction: column;}
    .invoice-content-main-wrap .invoice-wrap,.invoice-content-main-wrap .paypal-payment, .vt-row .vt-col-60,.vt-row .vt-col-40 {width: 100% !important;}
    .vt-row .vt-col-40 {margin: 0 0 20px 0;}
    .vt-row .vt-col {margin: 0;width: 100%}
    .vt-form-contents .vt-col.vt-col-100.vt-col-payments.pay-with-paypal.fixed,.invoice-content-main-wrap .vt-form-contents .vt-col.vt-col-100.vt-col-payments.fixed {position: unset;width: 100%; margin: 10px 0;}
    .invoice-content-main-wrap .vt-payment-wrapper.fixed, .vt-form-contents .vt-row .vt-col-40 .vt-payment-wrapper.fixed {position: unset;width: 100%; margin: 0 0 0 0;}
    .vt-row .vt-payment-wrapper .vt-col {margin-left: 0;}
    .vt-fields-wrap .input-field-wrap .vt-input-field {margin: 0;width: 100%;}
    .vt-row fieldset {width: 100%;}
    .vt-form-contents .paypal-payment {padding: 0;}
    .invoice-content-main-wrap .vt-row .vt-col-100 {width: 100%;}
    .vt-payment-timeout-popup-wrapper .vt-payment-timeout-popup-inner{max-width: 60%}
}

@media only screen and (max-width: 820px) {
    .vt-form-contents .vt-row .vt-col.vt-col-payments.fixed {width: 30%;}
    .vt-pagination ul li a, .vt-pagination ul li span {font-size: 0.8rem;}
    form.transaction-filter-form {width: 100%;}
    .transaction-filter-form .transaction-filter-wrap {display: block;}
    .transaction-filter-form .transaction-filter-wrap .date-field-wrap {display: flex;align-items: center;justify-content: flex-start;}
    .transaction-filter-form .transaction-filter-wrap .date-field-wrap .vt-date-field {width: 300px;}
}

@media (max-width: 760px) {
    .tool::after {font-size: .75em;margin-left: -5em;width: 10em;}
    .vt-tax-filter-wrapper{flex-flow:column;}
}

@media only screen and (max-width: 600px) {
    .vt-row .vt-col-10,
    .vt-row .vt-col-20,
    .vt-row .vt-col-30,
    .vt-row .vt-col-40,
    .vt-row .vt-col-50,
    .vt-row .vt-col-60,
    .vt-row .vt-col-70,
    .vt-row .vt-col-80,
    .vt-row .vt-col-90,
    .vt-row .vt-col-100 {width: 100%;}
    .vt-form-contents .vt-row .vt-col.vt-col-payments {margin-left:0;margin-bottom: 1rem;}
    .vt-form-contents .vt-row .vt-col.vt-col-payments.fixed {position: relative;width: 100%;top: auto;}
    .my-account-products-listings-table thead {display: none;}
    .my-account-products-listings-table tbody tr td {display: block;}
    .my-account-products-listings-table tbody tr td.text-center {text-align: left !important;}
    .my-account-products-listings-table tbody tr td:before {content: attr(data-title) ": ";font-weight: 600;padding-top: 1px;vertical-align: top;}
    .my-account-products-listings-table tbody tr:nth-child(even){background: #f6f7f7;}
    .vt-payment-timeout-popup-wrapper .vt-payment-timeout-popup-inner{max-width: 100%}
    .vt-pagination ul li a, .vt-pagination ul li span {padding: 0.5rem;}
    .transaction-filter-form .transaction-filter-wrap .date-field-wrap {display: block;}
    .transaction-filter-form .transaction-filter-wrap .date-field-wrap .date-range-label {margin-right: 0;}
    .transaction-filter-form .transaction-filter-wrap .date-field-wrap .vt-date-field {width: 100%;}
    .transaction-filter-form .transaction-filter-wrap .date-field-wrap .start-date {margin-right: 0;}
}