.add-new-partner-fee-wrap {width: 100%;text-align: right;margin: 10px 0;}
tr.partner-fee-row {border-bottom: 1px solid #CCC;}
tr.partner-fee-row:last-child {border-bottom: 0;}
.partner-fee-row td label {width: 100%;display: block;font-size: 14px;margin-bottom: 10px;font-weight: bold;}
.partner-fee-row td select, .partner-fee-row td input {padding: 10px;border-radius: 5px;border: 1px solid #CCC;}
tr.partner-fee-row td.counter {width: 5%;text-align: center;}
tr.partner-fee-row td.country, tr.partner-fee-row td.partner-fee-percentage {width: 25%;}
.loader {border: 3px solid #FFFFFF;border-radius: 100%;border-top: 3px solid #1d2327;width: 12px;height: 12px;-webkit-animation: spin 2s linear infinite;animation: spin 2s linear infinite;position: relative;display: inline-block;vertical-align: middle;left: 5px;}
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
.usb-swiper-log-filter {width: 100%;display: block;margin-bottom: 20px;text-align: right;}
.usb-swiper-log-filter h2 {width: 50%;float: left;margin: 0;display: inline-block;text-align: left;}
.jc-log-viewer {width: calc(100% - 40px);display: block;padding: 20px;background: #FFF;}
.vt-confirmation-icon {color: #d63638;margin: 0 !important;font-size: 25px;line-height: 25px;}
.vt-confirmation-icon .dashicons {font-size: inherit;}
.vt-confirmation-icon.is-confirmed {color: #00a32a;}
ul.oauth-third-party-scopes {margin: 0 0 0 30px;padding: 0;list-style: decimal-leading-zero;}
ul.oauth-third-party-scopes li {margin: 0 0 15px 0;list-style: inherit;}
p.signature-text{display: none;}
.show-me-only-in-print{display: none ;}
.transaction-table-header {text-align: left;width: 50%;border: 1px solid #ebebeb;padding: 10px;}
.transaction-column {width: calc(50% - 30px);}
.transaction-history-title {font-size: 22px!important;font-weight: 400!important;padding: 15px 0 !important;}
div#transaction-log {overflow-x: scroll;}
@media print {
    p.signature-text{display: inline;}
}
/*select2 code here*/
.select2-result-label .wrap:before{
    position:absolute;
    left:4px;
    font-family:fontAwesome;
    color:#999;
    content:"\f096";
    width:25px;
    height:25px;

}
.select2-result-label .wrap.checked:before{
    content:"\f14a";
}
.select2-result-label .wrap{
    margin-left:15px;
}